In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV, ElasticNetCV
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
significant_features = ['Gr Liv Area',
 'Overall Qual',
 'Neighborhood_NridgHt',
 'Neighborhood_StoneBr',
 'Neighborhood_NoRidge',
 'Garage Cars',
 'Exter Qual',
 'Bsmt Exposure',
 'Kitchen Qual',
 'Bldg Type_1Fam',
 'Bsmt Qual',
 'Screen Porch',
 'BsmtFin Type 1',
 'Sale Type_New',
 'Bsmt Full Bath',
 'Roof Style_Hip',
 'Lot Area',
 'TotRms AbvGrd',
 'Fireplace Qu',
 'Neighborhood_Crawfor',
 'MS SubClass_20',
 'Mas Vnr Area',
 'Exterior 1st_BrkFace',
 'Full Bath',
 'House Style_SLvl',
 'Bldg Type_Twnhs',
 'Exterior 2nd_Stucco',
 'Roof Style_Mansard',
 'Exterior 1st_Stucco',
 'Land Contour_Bnk',
 'House Remod Yrs',
 'Neighborhood_Edwards']

In [3]:
len(significant_features)

32

In [4]:
housing_train = pd.read_csv('datasets/Train_Cleaned.csv')
housing_train.head()

,Id,Lot Frontage,Lot Area,Lot Shape,Overall Qual,Mas Vnr Area,Exter Qual,Bsmt Qual,Bsmt Exposure,BsmtFin Type 1,...,Exterior 1st_Stucco,Exterior 1st_VinylSd,Exterior 1st_Wd Sdng,Exterior 1st_WdShing,Roof Style_Flat,Roof Style_Gable,Roof Style_Gambrel,Roof Style_Hip,Roof Style_Mansard,Roof Style_Shed
0,109,68.0,13517,2,6,289.0,3,3,1,6,...,0,0,0,0,0,1,0,0,0,0
1,544,43.0,11492,2,7,132.0,3,4,1,6,...,0,1,0,0,0,1,0,0,0,0
2,153,68.0,7922,3,5,0.0,2,3,1,6,...,0,1,0,0,0,1,0,0,0,0
3,318,73.0,9802,3,5,0.0,2,4,1,1,...,0,1,0,0,0,1,0,0,0,0
4,255,82.0,14235,2,6,0.0,2,2,1,1,...,0,0,1,0,0,1,0,0,0,0

In [5]:
housing_train.set_index('Id', inplace = True)
housing_train.shape

(1969, 178)

In [6]:
X = housing_train[significant_features]
X.shape

(1969, 32)

In [7]:
y = housing_train['SalePrice']
y.shape

(1969,)

In [8]:
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state = 42)
X_train.shape

(1476, 32)

In [9]:
X_val.shape

(493, 32)

In [10]:
ss = StandardScaler()
ss.fit(X_train)

X_train_scaled = ss.transform(X_train)
X_val_scaled = ss.transform(X_val)

X_train_scaled.shape

(1476, 32)

In [11]:
lr = LinearRegression()
lr.fit(X_train_scaled, y_train)

lr_cv_scores = cross_val_score(lr, X_train_scaled, y_train, cv = 10)
lr_cv_scores.mean()

0.852478939453785

In [12]:
ridge = RidgeCV(alphas = np.logspace(0, 5, 1000))
ridge.fit(X_train_scaled, y_train)
ridge.alpha_

198.28839491270713

In [13]:
ridge_cv_scores = cross_val_score(ridge, X_train_scaled, y_train, cv = 5)
ridge_cv_scores.mean()

0.8514278814883947

In [14]:
lasso = LassoCV(n_alphas = 100)
lasso.fit(X_train_scaled, y_train)

LassoCV()

In [15]:
lasso_cv_scores = cross_val_score(lasso, X_train_scaled, y_train, cv = 5)
lasso_cv_scores.mean()

0.8496172230147193

In [16]:
sample_submission = pd.read_csv('datasets/sample_submission_reg.csv')
sample_submission.head()

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217
2   6  181479.1217
3   7  181479.1217
4  17  181479.1217

In [17]:
sample_submission.shape

(879, 2)

In [18]:
housing_test = pd.read_csv('datasets/Test_Cleaned.csv')
housing_test.head()

,Id,Lot Frontage,Lot Area,Lot Shape,Overall Qual,Mas Vnr Area,Exter Qual,Bsmt Qual,Bsmt Exposure,BsmtFin Type 1,...,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
0,2658,69.0,9142,3,6,0.0,2,2,1,1,...,0,0,0,0,0,0,0,0,0,1
1,2718,69.6,9662,2,5,0.0,2,4,1,1,...,0,0,0,0,0,0,0,0,0,1
2,2414,58.0,17104,2,7,0.0,3,4,3,6,...,0,0,0,0,0,0,1,0,0,0
3,1989,60.0,8520,3,5,0.0,3,3,1,1,...,0,0,0,0,0,0,0,0,0,1
4,625,69.6,9500,2,6,247.0,2,4,1,4,...,0,0,0,0,0,0,0,0,0,1

In [19]:
housing_test.set_index('Id', inplace = True)
housing_test.shape

(879, 177)

In [20]:
X_test = housing_test[significant_features]

In [21]:
X_test.head()

,Gr Liv Area,Overall Qual,Neighborhood_NridgHt,Neighborhood_StoneBr,Neighborhood_NoRidge,Garage Cars,Exter Qual,Bsmt Exposure,Kitchen Qual,Bldg Type_1Fam,...,Exterior 1st_BrkFace,Full Bath,House Style_SLvl,Bldg Type_Twnhs,Exterior 2nd_Stucco,Roof Style_Mansard,Exterior 1st_Stucco,Land Contour_Bnk,House Remod Yrs,Neighborhood_Edwards
Id,,,,,,,,,,,,,,,,,,,,,
2658,1928,6,0,0,0,1,2,1,1,0,...,0,2,0,0,0,0,0,0,70,0
2718,1967,5,0,0,0,2,2,1,2,0,...,0,2,0,0,0,0,0,0,43,0
2414,1496,7,0,0,0,2,3,3,3,1,...,0,2,0,0,0,0,0,0,14,0
1989,968,5,0,0,0,2,3,1,2,1,...,0,1,0,0,0,0,0,0,14,0
625,1394,6,0,0,0,2,2,1,2,1,...,0,1,0,0,0,0,0,0,57,0

In [22]:
X_test.shape

(879, 32)

In [23]:
X_test_scaled = ss.transform(X_test)

In [24]:
X_test_scaled.shape

(879, 32)

In [25]:
predictions = ridge.predict(X_test_scaled)

In [26]:
predictions

array([126555.28187603, 162094.40061665, 249525.58820621, 134046.02364339,
       186275.95844529,  86502.1598124 , 114080.29844348, 162804.99613107,
       167223.38202072, 155075.63718984, 165478.5398508 , 129940.09959883,
       146382.74910127, 268235.63289256, 134306.40319723, 136062.74634676,
       144414.67653645, 124093.4902447 , 189573.77677458, 209805.6077119 ,
       149899.90014652, 136560.39709289, 170891.17781448, 153823.09989786,
       185883.84150026, 139389.41322014, 142657.66236892, 153834.98742007,
       179487.38510142,  65152.20440102, 106185.23192048, 115138.40887445,
       180675.63181139, 152203.63638594, 229916.02795913, 201706.03985739,
       120992.64828715,  99712.40037453, 157883.34217108, 190298.11845619,
       181084.0550021 , 216746.90215156, 164990.81990485, 182194.96574618,
       203303.92349234,  81303.28522088, 227611.12250329, 130559.49290659,
       138233.10412858, 130146.32751433, 118494.27426429, 215945.37391424,
       238918.34820462, 134733.25344722,  97955.12918772, 165881.87583158,
       175196.58789501, 152344.78479827, 160932.10986827, 231212.42356774,
       306550.08861687, 131347.38729276, 156792.24879432, 179316.55867145,
       196608.04697498, 324904.29741034, 100165.22429232, 211783.86065015,
        74219.31978429, 167634.11752501,  97626.82350146, 346181.50231349,
       191638.42156563, 186974.34521795, 148586.95574889, 195231.76616183,
       438600.65190668, 180212.18922589, 147339.22772448, 109737.01155634,
       365182.154263  , 200159.91530647, 148286.67060873, 137946.4988438 ,
       132394.80943557, 223520.09001972, 337272.26295575, 147456.26973796,
       198102.48253665, 226079.6263572 , 147936.10095862, 149097.35728262,
        99742.08998645, 130419.71556518, 248428.95461146, 134359.78113402,
       148610.81022571, 198704.91838245, 233792.41872629, 211063.20006025,
       224463.42631248, 280937.9819488 , 172378.97016846, 130527.86381354,
       405396.23266773, 137591.76870261, 113007.16368053, 179476.20708535,
       199219.58677631, 174543.85486328, 131462.43256328, 188269.03599423,
       211545.14895102, 103510.95593257, 134021.40714948, 230133.73959392,
       444603.49916224, 154071.35288773, 122477.04117851, 313683.85950747,
       182406.29836592, 349265.15531386, 316440.75992436, 315816.38817109,
       187714.16202527, 151895.97208815, 346097.20949408, 131133.25943183,
       148895.50202067, 137103.06878314, 247254.20531135, 149561.97554909,
       203643.03863806, 138942.20757432, 179861.35007225, 161444.75284078,
       229054.77496314, 209183.5521228 , 185449.62258024, 227404.43562218,
       135449.70887411, 179912.7810047 , 164550.7782393 , 142483.91046581,
       182407.80659602, 107228.35430258, 164916.67337667, 160418.06020258,
       156413.22275269,  69546.26401181, 232052.57959443, 205107.30177348,
       139916.0505941 , 112374.0463437 , 129546.07673527, 131473.18523149,
       146229.05960056,  73735.63195118, 149106.85179731, 251940.0165463 ,
       245024.98450884, 222880.41459678, 118679.01861428, 132304.26574175,
       402851.25205275, 278535.13281406, 228894.81357182, 184115.5885245 ,
       187823.02293232, 257175.74978986, 215903.26161202, 424165.88048557,
       151280.33778706, 145600.37426932, 153476.32807081, 204831.07381783,
       165351.75802889, 103295.09373022, 158653.69778304,  89963.27976472,
       165292.41045345, 130627.82291328, 196305.88399757, 246909.08318427,
       217424.42333783, 175647.94126171, 123200.98379499, 219687.19887061,
       181607.89401588, 141035.9846482 ,  76818.08158703, 207118.3289451 ,
       126251.45699559, 114457.96132809, 134106.92580665, 209457.2378404 ,
       174347.67274198, 290398.54859081, 128475.60076904, 125866.92793991,
       128065.51328118, 321370.8424233 , 189075.65682515, 126346.3086039 ,
       205690.2756451 , 136777.67596553, 128938.76782466, 137518.93989879,
       146373.24962434, 237931.79276419, 227490.07180453, 186116.6479989 ,
       209420.30964059, 121410.23250682, 411373.70902192, 232015.99679242,
       211540.66370826, 207481.5700017 , 140076.12511928, 148215.73011718,
       183086.00994423, 204622.48399943, 127554.22806645, 184890.85082666,
       200553.03898884, 139420.32247014, 117894.739002  , 240637.55450663,
       218602.16960441, 153847.06724772, 286543.19547989, 139818.2769703 ,
        85005.95172817, 173713.81278921,  82583.05285902, 244604.82058432,
       171314.43514025,  86577.9133235 , 386817.76253179, 300622.36656017,
       191729.50915894, 252886.25018729, 185984.25184504, 311687.4267008 ,
       226189.42613096, 298496.09751159, 259425.14514593, 117093.00704279,
       117511.46573469, 171770.94826681, 301999.32945385, 283611.85049095,
       131033.72915127, 229960.81878579, 216485.26827639, 197855.50519148,
       118117.1890449 , 109001.72297237, 403935.54138802, 226235.69815078,
       246453.1798783 , 210058.29603609, 141118.50384873, 117565.20532203,
       164962.12849671, 252625.78669349, 165198.01275819, 132372.15163178,
       219844.41072095, 171245.01720485, 164395.26510055, 194358.70667719,
       211238.94249195, 179209.30568433, 282134.93586837, 126181.19411654,
       150925.758993  , 164880.85772446, 175564.63452894, 136267.36288974,
       117500.79516258, 227266.72299438, 140724.53277696, 131242.52131288,
       115524.24671005, 138601.22781601, 271963.05306068, 214305.72742489,
       107114.06518547, 109593.27504727, 134402.18048232, 119968.59377512,
       154273.80387134,  81022.19216387, 139633.9228604 , 141554.04929974,
       161846.40610773, 220312.65591604, 274602.98006629, 261200.71753036,
       172413.24388914, 187846.5914007 , 319714.39703182, 135973.11081612,
       151841.75432793,  83027.66551381, 115347.60998132, 287608.15570584,
       220310.70150338, 151550.45318158, 121712.13674691, 235310.34642459,
       257088.54508888, 246542.10700259, 278445.42527426, 149321.97551245,
       373249.89426077, 375231.55948846, 279969.48814872, 224156.14002166,
       118354.52771098,  77473.85435447, 122808.30832764, 165346.8836688 ,
       282094.99851657, 148066.65944537, 125658.40858776, 156266.95321716,
       209022.34791391, 192839.96191843, 135837.33062873, 164027.64497429,
       205068.76151171, 166180.23491871, 175239.66103432, 107948.89625939,
       141180.12796598,  76232.7376744 , 133636.57674764, 135133.75644318,
       176394.66486243, 194545.07000627, 105148.08172135, 134358.69257454,
       193976.54347287, 294256.05885946, 229186.75911073, 171333.49763455,
       117562.13695148, 236162.58282453, 162666.62382918, 145537.2619988 ,
       158211.36980391, 117160.93392613, 287493.49645106, 116723.94780267,
       225865.5361702 , 174553.34380091, 227025.14945861, 234374.85206958,
       124835.54205087, 131551.59815265, 147328.17765669, 105661.76531115,
       161949.81517246, 227329.24623819, 267590.53483254, 222809.18642395,
       211251.23337549, 217988.14437511, 125212.33560359, 202007.23447869,
       103065.02882388, 158093.06932557, 371185.86194744, 146447.36404843,
       294145.4371307 , 187258.26846997, 268745.26088343, 223462.49570163,
       146446.39661959, 185337.52835712, 130755.76623428, 339335.75763856,
       341939.1328755 , 225833.18464086, 183872.52496524, 170594.01327183,
       186023.74773783, 142548.65632775, 135486.70839329, 104010.81677182,
       317892.22766936, 180280.0419358 , 130125.12284325, 191423.00418078,
        53062.46482102, 202138.67625671, 199889.54630595, 162436.11253925,
       101450.52773293, 218922.15726631, 224943.87541219, 138699.3180621 ,
       288639.56770256, 165283.83977033, 145455.27324415, 144283.52117065,
       227001.70235584, 303551.63687608, 136174.31463222,  97244.87285817,
       150469.34865457, 233880.4983014 , 148028.89255767, 249958.16643896,
       336049.97702908, 136698.35415376, 206934.53117352, 116858.53708536,
       180892.36190323, 238511.10594874, 120863.86059413, 243394.39451744,
       131972.01199831, 212418.4570566 , 376208.80872322, 190667.12695853,
       229159.1661471 , 130286.03316639, 275559.14608868, 128199.58750882,
       152865.85949619, 135292.38337667, 206721.2465386 , 110781.94381912,
       335280.87118609, 226934.42146215, 177151.90591972, 156755.76728568,
       155350.48891215, 210209.71676931, 133470.35941572, 115986.42748225,
       177160.1817284 , 170501.97786205, 211166.52948444,  72252.36675288,
       107050.95478583, 303964.64042912, 159404.4221549 , 234688.82717212,
       262481.56723403, 252137.3440427 , 187127.74985446, 210673.47206803,
       223908.77071085, 240566.95633392, 125137.94494912, 240969.81577256,
       115583.11702835, 152176.38728202, 135461.83205394, 144119.75104427,
       456030.457708  , 124450.4633118 , 226621.15274772, 235250.22244266,
       220783.15413848, 124758.50093447, 137578.61340454, 163338.36275852,
       259179.9671477 , 192301.78234117, 123768.6517195 , 248488.99437327,
       205565.69733132, 107651.7503088 , 135513.48754734, 107081.200099  ,
       213358.7779493 ,  90077.80154296, 213730.4222088 , 115366.72557201,
       197370.1168881 , 291077.38073969, 138648.49691964, 174603.79154971,
       201675.79107837, 173432.58282921, 149835.05866427, 171016.90047071,
       217325.8103836 , 171542.80724494, 212060.10614454, 383513.45523158,
       178345.34992561,  96930.37066316, 123237.67651287, 175106.92188561,
       125405.27886677, 195168.65573204, 197323.95771663, 213583.37255319,
       165875.06189128, 249429.71337434, 149620.09985327, 284903.5701962 ,
       103102.11309912, 109174.53723316, 241856.8169443 , 126465.5389762 ,
       124949.51430854, 139565.91283842, 163272.17048602,  61979.00556136,
       182474.69590708, 154346.21353172, 203166.88854636, 278417.31351731,
       294270.5484833 , 112180.41810523, 125721.76494791, 184465.92038245,
       131820.44871751, 228294.75717743, 395330.61930548, 179949.95472557,
       117231.91329318, 144807.70501662,  25994.19763789, 111456.61530618,
       224397.65203078, 159470.8948299 , 204609.61358064, 161260.4569192 ,
       134454.55368535,  67691.26816393, 220809.91958101, 151891.74825838,
       160646.47722246, 155125.48794807, 103075.37148725, 101259.80289153,
       148527.971003  , 235728.20987205, 335053.96458609, 231879.14565416,
       130222.55710206,  90000.23755004, 319214.83023002, 149311.90928817,
       307809.49845364, 110709.66942923, 209729.67435059, 231701.85263227,
        77827.54629361, 105620.49854458, 149441.56082533,  90788.84385366,
       176912.0390408 , 120632.19648172, 165083.78303366, 199850.56267447,
       139427.71670413, 144782.0337733 , 154249.44542436, 139804.30255225,
       193761.64614209, 124444.5572529 , 175703.28391723, 162001.89458764,
       140220.10032363,  89644.97720515, 157446.32450447, 158725.94045233,
       131831.77330266, 185551.03134269, 165017.78044933, 228714.58260174,
       126321.32800919, 150685.19971518, 165303.68182332, 294484.01471547,
        91944.21496836, 151547.6111782 , 183696.33195294, 169256.66009424,
       121247.37764572, 277927.34202176, 216726.81729267, 149009.23027068,
       125108.19617649, 143617.89837664, 147713.71841796, 326966.01160307,
       203182.24809232, 138483.79529977, 137208.07352733, 108048.35930443,
       373701.30024189, 125491.28395448, 204228.46093384, 137123.26762517,
       192660.87154497, 238782.26036968, 119561.29022112, 135230.65764828,
       123798.05870314, 178317.70610258, 122530.66650855, 118413.46374114,
       345125.97486386, 217621.71239529, 169946.9307174 , 146319.40447387,
        31804.12386352, 233503.10323362, 269792.78698628,  68872.33488667,
       172726.67434027, 224095.26360614, 121684.01888727, 152357.48406623,
       112366.89490784, 161832.946593  , 158650.45095777, 212750.09648556,
       128354.783429  , 310275.46796561, 164935.99304008, 204572.82302611,
       202174.42557967, 137134.89612918,  57655.41342812, 158868.54672146,
       205439.51659533, 157412.18107602, 155115.06829711, 151744.28151032,
       157964.16536783, 298689.40451753, 149306.98537999, 233534.82629644,
       258704.12464646, 166347.85935326,  73761.27950429, 226315.34564479,
       190160.61258905, 140095.28731674, 179894.27073937, 154716.3684176 ,
       123299.12804401, 105545.34689008, 168048.09211849,  90618.87929941,
       155895.28075043, 211572.29216432, 181498.23634984, 273269.73856369,
       173212.51233536, 163350.30962414, 176450.8552707 , 177975.71406737,
       222724.42199754, 369876.95262091, 232730.61883096, 194090.22855323,
       152598.48576831, 162179.93409122, 261557.67259049, 231457.06686904,
       222086.61715026, 260925.1176172 , 138437.60165891, 139288.71810531,
       154233.90960221, 148225.36630265,  92593.77908066, 159851.97823705,
       112365.42090876, 335617.63742215, 219702.43299347, 168656.36711342,
       236087.22938742, 205929.05812074, 158918.39499066, 204839.66720461,
       397669.4617856 , 176258.6888981 , 174794.94094398,  84017.38694535,
       137294.6103112 , 308151.77589323, 128115.23895049, 214817.33233002,
       180558.14578686, 226710.94234417, 361020.4306461 , 105780.48860672,
       256890.0159492 , 165835.00586131, 146795.99271913, 149806.37763509,
       125539.08468127, 264561.19565415, 263425.46271192, 156006.35175742,
       132165.89709394, 100744.75449669, 322605.33630348, 219079.05696294,
       125225.21588141, 144785.37961483, 145943.52330805, 139617.79318625,
       224691.65665912, 291654.08251923, 214311.05363568, 196856.45024205,
       234589.02524712, 235343.02531976, 261024.421264  , 159400.07222282,
       115999.83735367, 319939.41612554, 202032.32107215, 184588.6495409 ,
       143939.04956575, 276866.09564889,  96250.68381067, 245751.30792594,
       191811.13985439, 245410.49599312, 155432.25619776, 172532.08507792,
       161386.16772585, 131187.6623971 , 146755.66223538, 153468.12177313,
       138257.76186326, 225510.4905438 , 188235.0711793 , 156404.57937829,
       121636.75999038, 192107.04982983, 165109.62753438, 190140.5134432 ,
       195540.28234546, 117712.21769114, 308745.64834376, 238483.73671851,
       145090.78976011, 141711.75730254, 156578.8969183 , 159628.42675881,
       130380.62587256, 401022.15941869,  87496.49726551, 158753.78843583,
       255325.92519261, 143521.06876878, 216535.95770109, 127980.94497351,
       245831.57512741, 156864.35194547, 297512.18573109, 178276.35361957,
       218129.19448315, 296960.66925088, 166939.19522331, 273432.22606943,
       196165.75779222, 150360.43217082, 211231.84382281, 143997.0809568 ,
       135814.4644241 , 236423.51556857, 150864.54964361, 126542.84796359,
       191608.99990005, 175700.15917421, 399425.27292739, 118678.77332184,
       138350.62362124, 121075.4648164 , 157047.88627983, 258676.91977175,
       118292.88853794, 248838.79052299, 190696.80234737, 205830.92284637,
       235714.18253161, 198086.83140562, 305278.61763244, 167583.62146566,
       195222.48717772, 156154.89557129, 261751.36766378, 232342.92205083,
       237098.39431288, 158037.33818082, 119178.94856703, 153882.09793133,
       107408.30818687, 255804.19151841, 121142.17579303, 114562.16737375,
       202064.70086747, 159831.03495372, 132335.36749449, 151290.18177716,
       332719.37634549, 174091.99981701, 172442.51990754, 247754.74883499,
       220679.08893066, 197740.4318599 ,  78935.8147637 , 119870.65425125,
       166987.33153612, 165198.48376366, 114464.23022745, 356137.24256546,
       136646.82170108, 175532.85843974, 212189.96000078, 329846.49244156,
       152310.64992076, 172492.4424441 , 157518.76140444, 172375.53528564,
       157831.64635043, 279379.74441189, 240761.52984   , 167589.99299028,
       134027.10269999, 346408.17004725, 155887.3574654 , 140705.15280413,
       134226.3488419 , 206843.53750329, 218994.51369239, 219523.39778636,
       132832.07646343, 188760.84302933, 188240.14030753, 247105.67193293,
       227150.01821253,  99441.34864264, 169619.35857583, 175938.50412905,
       195796.29646498, 142269.11012243, 138328.69151246, 180431.59295595,
       123226.15277864, 258689.69074281, 110506.92565205, 209489.64969845,
       121320.95776889, 338379.84463355, 145255.371937  , 122782.04169725,
       176157.53606582, 162308.01980395, 199058.89813349, 192607.78030504,
       261422.21917144, 180342.86282077, 200797.19810109, 255177.59747573,
       338773.43756061, 218748.02231556, 180788.06352106, 218903.28890374,
       131685.86838532, 119586.52762393, 121876.25326436])

In [27]:
X_test['SalePrice'] = predictions

/Users/ahmadzainichia/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
X_test.head()

,Gr Liv Area,Overall Qual,Neighborhood_NridgHt,Neighborhood_StoneBr,Neighborhood_NoRidge,Garage Cars,Exter Qual,Bsmt Exposure,Kitchen Qual,Bldg Type_1Fam,...,Full Bath,House Style_SLvl,Bldg Type_Twnhs,Exterior 2nd_Stucco,Roof Style_Mansard,Exterior 1st_Stucco,Land Contour_Bnk,House Remod Yrs,Neighborhood_Edwards,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
2658,1928,6,0,0,0,1,2,1,1,0,...,2,0,0,0,0,0,0,70,0,126555.281876
2718,1967,5,0,0,0,2,2,1,2,0,...,2,0,0,0,0,0,0,43,0,162094.400617
2414,1496,7,0,0,0,2,3,3,3,1,...,2,0,0,0,0,0,0,14,0,249525.588206
1989,968,5,0,0,0,2,3,1,2,1,...,1,0,0,0,0,0,0,14,0,134046.023643
625,1394,6,0,0,0,2,2,1,2,1,...,1,0,0,0,0,0,0,57,0,186275.958445

In [29]:
submission = X_test[['SalePrice']]

In [30]:
submission.head()

          SalePrice
Id
2658  126555.281876
2718  162094.400617
2414  249525.588206
1989  134046.023643
625   186275.958445

In [31]:
submission.sort_index(inplace = True)

/Users/ahmadzainichia/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
submission.head()

        SalePrice
Id
2   125539.084681
4   263425.462712
6   182406.298366
7   257088.545089
17  218922.157266

In [33]:
submission.shape

(879, 1)

In [34]:
submission.to_csv('Projected Prices.csv')