In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
housing = pd.read_csv('datasets/test.csv')

housing.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [3]:
housing.shape

(879, 80)

In [4]:
housing.set_index('Id', inplace = True)

In [5]:
null_features = housing.isnull().sum().sort_values().to_frame(name = 'nullcount')

null_features

               nullcount
PID                    0
Bsmt Unf SF            0
Total Bsmt SF          0
Yr Sold                0
Heating QC             0
...                  ...
Fireplace Qu         422
Fence                707
Alley                821
Misc Feature         838
Pool QC              875

[79 rows x 1 columns]

In [6]:
null_tofill = null_features['nullcount'] > 0
null_features_tofill = null_features[null_tofill]
null_features_tofill

                nullcount
Mas Vnr Type            1
Electrical              1
Mas Vnr Area            1
BsmtFin Type 2         25
Bsmt Cond              25
Bsmt Qual              25
Bsmt Exposure          25
BsmtFin Type 1         25
Garage Type            44
Garage Finish          45
Garage Yr Blt          45
Garage Qual            45
Garage Cond            45
Lot Frontage          160
Fireplace Qu          422
Fence                 707
Alley                 821
Misc Feature          838
Pool QC               875

In [8]:
null_to_fill = null_features_tofill.index.to_list()
null_to_fill

['Mas Vnr Type',
 'Electrical',
 'Mas Vnr Area',
 'BsmtFin Type 2',
 'Bsmt Cond',
 'Bsmt Qual',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'Garage Type',
 'Garage Finish',
 'Garage Yr Blt',
 'Garage Qual',
 'Garage Cond',
 'Lot Frontage',
 'Fireplace Qu',
 'Fence',
 'Alley',
 'Misc Feature',
 'Pool QC']

In [14]:
len(housing.select_dtypes(include = 'object').columns)

42

In [16]:
housing.select_dtypes(include = 'object').columns

Index(['MS Zoning', 'Street', 'Alley', 'Lot Shape', 'Land Contour',
       'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence', 'Misc Feature',
       'Sale Type'],
      dtype='object')

In [15]:
len(housing.select_dtypes(include = ['int64', 'float64']).columns)

37

In [ ]:
def str_to_int(string):
    
    try:
        
        num = int(string)
        
    except:
        
        num = np.nan
        
    return num

In [ ]:
type(str_to_int('1980'))

In [ ]:
housing['Garage Yr Blt'] = housing['Garage Yr Blt'].apply(str_to_int)

In [17]:
housing[['Garage Yr Blt', 'Mas Vnr Area', 'Lot Frontage']].describe()

       Garage Yr Blt  Mas Vnr Area  Lot Frontage
count     834.000000    878.000000    719.000000
mean     1976.796163    106.982916     69.630042
std        25.695683    188.356829     23.625372
min      1900.000000      0.000000     21.000000
25%      1960.000000      0.000000     59.000000
50%      1978.000000      0.000000     68.000000
75%      2001.000000    173.500000     80.000000
max      2010.000000   1378.000000    182.000000

In [18]:
garages = housing[['Garage Yr Blt', 'Garage Type', 'Garage Cond', 'Garage Qual', 'Garage Finish']]
garage_null = garages[garages['Garage Yr Blt'].isnull()]

In [19]:
garage_null.isnull().sum()  #this shows that these houses do not have garages

Garage Yr Blt    45
Garage Type      44
Garage Cond      45
Garage Qual      45
Garage Finish    45
dtype: int64

In [21]:
for item in ['Mas Vnr Type',
         'Electrical',
         'BsmtFin Type 2',
         'Bsmt Cond',
         'Bsmt Qual',
         'Bsmt Exposure',
         'BsmtFin Type 1',
         'Fireplace Qu',
         'Fence',
         'Alley',
         'Misc Feature',
         'Pool QC']:
    
    print(housing[item].value_counts())
    print('----------------------')

None       534
BrkFace    250
Stone       81
BrkCmn      12
CBlock       1
Name: Mas Vnr Type, dtype: int64
----------------------
SBrkr    814
FuseA     48
FuseF     15
FuseP      1
Name: Electrical, dtype: int64
----------------------
Unf    750
LwQ     29
Rec     26
BLQ     20
ALQ     18
GLQ     11
Name: BsmtFin Type 2, dtype: int64
----------------------
TA    782
Fa     39
Gd     33
Name: Bsmt Cond, dtype: int64
----------------------
TA    396
Gd    355
Ex     74
Fa     28
Po      1
Name: Bsmt Qual, dtype: int64
----------------------
No    567
Av    130
Gd     81
Mn     76
Name: Bsmt Exposure, dtype: int64
----------------------
Unf    248
GLQ    244
ALQ    136
Rec    105
BLQ     69
LwQ     52
Name: BsmtFin Type 1, dtype: int64
----------------------
Gd    221
TA    193
Fa     16
Po     15
Ex     12
Name: Fireplace Qu, dtype: int64
----------------------
MnPrv    103
GdPrv     35
GdWo      32
MnWw       2
Name: Fence, dtype: int64
----------------------
Grvl    35
Pave    23
Name: Alley, dtype: int64
----------------------
Shed    39
Othr     1
Gar2     1
Name: Misc Feature, dtype: int64
----------------------
Ex    3
TA    1
Name: Pool QC, dtype: int64
----------------------

In [22]:
housing[['Mas Vnr Type',
         'Electrical',
         'BsmtFin Type 2',
         'Bsmt Cond',
         'Bsmt Qual',
         'Bsmt Exposure',
         'BsmtFin Type 1',
         'Fireplace Qu',
         'Fence',
         'Alley',
         'Misc Feature',
         'Pool QC']].mode()

,Mas Vnr Type,Electrical,BsmtFin Type 2,Bsmt Cond,Bsmt Qual,Bsmt Exposure,BsmtFin Type 1,Fireplace Qu,Fence,Alley,Misc Feature,Pool QC
0,None,SBrkr,Unf,TA,TA,No,Unf,Gd,MnPrv,Grvl,Shed,Ex

In [23]:
values_to_fill = {'Mas Vnr Type': 'None',
                  'Mas Vnr Area': 0,
                  'Electrical': 'SBrkr',
                  'BsmtFin Type 2': 'Unf',
                  'Bsmt Cond': 'TA',
                  'Bsmt Qual': 'TA',
                  'BsmtFin Type 1': 'Unf',
                  'Bsmt Exposure': 'No',
                  'Garage Type': 'NA',
                  'Garage Finish': 'NA',
                  'Garage Yr Blt': 1895, # to prep for feature engineering further down
                  'Garage Qual': 'NA',
                  'Garage Cond': 'NA',
                  'Lot Frontage' : 69.6,
                  'Fireplace Qu': 'Gd',
                  'Fence': 'NA',   # the last 4 features have a lot of empty data, suggesting that they do not exist
                  'Alley': 'NA',
                  'Misc Feature': 'NA',
                  'Pool QC': 'NA'}

In [24]:
housing.fillna(value = values_to_fill, inplace = True)

In [25]:
housing.isnull().sum().sort_values()

PID              0
Fireplaces       0
Functional       0
TotRms AbvGrd    0
Kitchen Qual     0
                ..
Exterior 1st     0
Roof Matl        0
Roof Style       0
Exter Cond       0
Sale Type        0
Length: 79, dtype: int64

In [26]:
housing['Garage Age'] = 2020 - housing['Garage Yr Blt']

housing['Garage Age'].describe()

count    879.000000
mean      47.391354
std       30.851016
min       10.000000
25%       20.000000
50%       43.000000
75%       63.000000
max      125.000000
Name: Garage Age, dtype: float64

In [27]:
housing.drop(columns = ['Garage Yr Blt'], inplace = True)

housing.isnull().sum().sort_values()

PID              0
Fireplaces       0
Functional       0
TotRms AbvGrd    0
Kitchen Qual     0
                ..
Exterior 1st     0
Roof Matl        0
Roof Style       0
Exter Cond       0
Garage Age       0
Length: 79, dtype: int64

In [28]:
housing.shape

(879, 79)

In [29]:
housing.drop(columns = ['BsmtFin SF 2'], inplace = True)
housing.shape

(879, 78)

In [30]:
housing.drop(columns = ['Low Qual Fin SF'], inplace = True)
housing.shape

(879, 77)

In [31]:
housing['Porch Combined SF'] = housing[['Open Porch SF','Enclosed Porch',
                                        '3Ssn Porch','Screen Porch']].sum(axis = 1)

In [32]:
housing.drop(columns = ['Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch'], inplace = True)
housing.shape

(879, 74)

In [33]:
housing.drop(columns = ['Pool Area', 'Misc Val'], inplace = True)
housing.shape

(879, 72)

In [34]:
housing.drop(columns = ['PID', 'Utilities'], inplace = True)

housing.shape

(879, 70)

In [35]:
housing.replace(to_replace = {
    'Bsmt Cond': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'Bsmt Exposure': {'Gd': 4, 'Av':3, 'Mn':2, 'No': 1, 'NA': 0},
    'Bsmt Qual': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'BsmtFin Type 1': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
    'BsmtFin Type 2': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
    'Electrical': {'SBrkr': 4, 'FuseA': 3, 'FuseF':2, 'FuseP':1, 'Mix': 0},
    'Exter Cond': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'Po': 0},
    'Exter Qual': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'Po': 0},
    'Fence': {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA': 0},
    'Fireplace Qu': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'Functional': {'Typ': 7, 'Min1': 6, 'Min2': 5, 'Mod': 4, 'Maj1': 3, 'Maj2': 2, 'Sev': 1, 'Sal': 0},
    'Garage Cond': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'Garage Finish': {'Fin':3, 'RFn':2, 'Unf': 1, 'NA': 0},
    'Garage Qual': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'Heating QC': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'Po': 0},
    'Kitchen Qual': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'Po': 0},
    'Land Slope': {'Gtl': 2, 'Mod':1, 'Sev': 0},
    'Lot Shape': {'Reg':3, 'IR1':2, 'IR2': 1, 'IR3': 0},
    'Paved Drive': {'Y': 2, 'P':1, 'N': 0},
    'Pool QC': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'NA': 0}
}, inplace = True)

In [36]:
housing['House Age'] = 2020 - housing['Year Built']

housing['House Age'].describe()

count    879.000000
mean      49.466439
std       30.403527
min       10.000000
25%       20.000000
50%       48.000000
75%       66.000000
max      140.000000
Name: House Age, dtype: float64

In [37]:
housing['House Remod Yrs'] = 2020 - housing['Year Remod/Add']

housing['House Remod Yrs'].describe()

count    879.000000
mean      35.555176
std       20.454546
min       10.000000
25%       17.000000
50%       28.000000
75%       53.000000
max       70.000000
Name: House Remod Yrs, dtype: float64

In [38]:
housing.drop(columns = ['Yr Sold', 'Year Remod/Add', 'Year Built'], inplace = True)
housing.shape

(879, 69)

In [39]:
housing['Exterior Qual/Cond'] = housing[['Exter Cond','Exter Qual']].sum(axis = 1)
housing['Overall Qual/Cond'] = housing[['Overall Cond','Overall Qual']].sum(axis = 1)

In [40]:
housing.drop(columns = ['Overall Cond', 'Overall Qual', 'Exter Cond', 'Exter Qual'], inplace = True)
housing.shape

(879, 67)

In [41]:
housing.drop(columns = ['BsmtFin Type 2'], inplace = True) #skewed distribution, no clear linear relationship
housing.shape

(879, 66)

In [42]:
housing['Garage Qual/Cond'] = housing[['Garage Cond', 'Garage Qual']].sum(axis = 1)
housing.shape

(879, 67)

In [43]:
housing.drop(columns = ['Garage Cond', 'Garage Qual'], inplace = True)
housing.shape

(879, 65)

In [44]:
housing.drop(columns = ['Condition 2', 'Misc Feature', 'Roof Matl', 'Street'], inplace = True)

In [45]:
housing.shape

(879, 61)

In [47]:
nominal_filtered = housing.select_dtypes(include = 'object').columns.to_list()

In [48]:
nominal_filtered.sort()
nominal_filtered

['Alley',
 'Bldg Type',
 'Central Air',
 'Condition 1',
 'Exterior 1st',
 'Exterior 2nd',
 'Foundation',
 'Garage Type',
 'Heating',
 'House Style',
 'Land Contour',
 'Lot Config',
 'MS Zoning',
 'Mas Vnr Type',
 'Neighborhood',
 'Roof Style',
 'Sale Type']

In [49]:
len(nominal_filtered)

17

In [50]:
housing_dummied = pd.get_dummies(data = housing, columns = nominal_filtered)

In [51]:
housing_dummied.shape

(879, 179)

In [52]:
dummy_columns = [col for col in housing_dummied.columns if 'NA' in col]
dummy_columns

['Alley_NA', 'Garage Type_NA', 'Neighborhood_NAmes']

In [53]:
housing_dummied.drop(columns = ['Alley_NA','Garage Type_NA'], inplace = True)
housing_dummied.shape

(879, 177)

In [54]:
housing_dummied.to_csv('datasets/Test_cleaned.csv')