In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV, ElasticNetCV
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
significant_features = ['Gr Liv Area',
 'Overall Qual/Cond',
 'Total Bsmt SF',
 'BsmtFin SF 1',
 'Neighborhood_NridgHt',
 'Lot Area',
 'Neighborhood_StoneBr',
 'Mas Vnr Area',
 'Kitchen Qual',
 'Garage Area',
 'Bldg Type_1Fam',
 'Sale Type_New',
 'Bsmt Exposure',
 'Bsmt Qual',
 'Neighborhood_NoRidge',
 'Functional',
 'House Remod Yrs',
 'Lot Config_Corner',
 'Exterior 2nd_HdBoard',
 'Neighborhood_NWAmes',
 'Garage Qual/Cond',
 'Mas Vnr Type_BrkFace',
 'Foundation_CBlock',
 'Bedroom AbvGr',
 'House Age']

significant_features.sort()
significant_features

['Bedroom AbvGr',
 'Bldg Type_1Fam',
 'Bsmt Exposure',
 'Bsmt Qual',
 'BsmtFin SF 1',
 'Exterior 1st_BrkFace',
 'Exterior 1st_HdBoard',
 'Exterior Qual/Cond',
 'Foundation_PConc',
 'Functional',
 'Garage Area',
 'Gr Liv Area',
 'House Age',
 'Kitchen Qual',
 'Land Contour_HLS',
 'Lot Area',
 'Lot Frontage',
 'Mas Vnr Area',
 'Neighborhood_NoRidge',
 'Neighborhood_NridgHt',
 'Neighborhood_Somerst',
 'Neighborhood_StoneBr',
 'Overall Qual/Cond',
 'Roof Style_Mansard',
 'Sale Type_COD',
 'Sale Type_New',
 'Total Bsmt SF']

In [3]:
len(significant_features)

27

In [4]:
housing_train = pd.read_csv('datasets/Train_Cleaned.csv')
housing_train.head()

,Id,Lot Frontage,Lot Area,Lot Shape,Land Slope,Mas Vnr Area,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,...,Bldg Type_TwnhsE,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD
0,109,68.0,13517,2,2,289.0,3,3,1,6,...,0,0,0,0,0,0,0,0,0,1
1,544,43.0,11492,2,2,132.0,4,3,1,6,...,0,0,0,0,0,0,0,0,0,1
2,153,68.0,7922,3,2,0.0,3,3,1,6,...,0,0,0,0,0,0,0,0,0,1
3,318,73.0,9802,3,2,0.0,4,3,1,1,...,0,0,0,0,0,0,0,0,0,1
4,255,82.0,14235,2,2,0.0,2,4,1,1,...,0,0,0,0,0,0,0,0,0,1

In [5]:
housing_train.set_index('Id', inplace = True)
housing_train.shape

(1948, 192)

In [6]:
X = housing_train[significant_features]
X.shape

(1948, 27)

In [7]:
y = housing_train['SalePrice']
y.shape

(1948,)

In [8]:
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state = 42)
X_train.shape

(1461, 27)

In [9]:
X_val.shape

(487, 27)

In [10]:
ss = StandardScaler()

X_train_scaled = ss.fit_transform(X_train)
X_val_scaled = ss.transform(X_val)

X_train_scaled.shape

(1461, 27)

In [11]:
lr = LinearRegression()
lr.fit(X_train_scaled, y_train)

lr_cv_scores = cross_val_score(lr, X_train_scaled, y_train, cv = 10)
lr_cv_scores.mean()

0.9087741511576122

In [12]:
ridge = RidgeCV(alphas = np.logspace(0, 3, 1500))
ridge.fit(X_train_scaled, y_train)
ridge.alpha_

13.575479245259912

In [13]:
ridge_cv_scores = cross_val_score(ridge, X_train_scaled, y_train, cv = 5)
ridge_cv_scores.mean()

0.9088481115548375

In [14]:
lasso = LassoCV(n_alphas = 200)
lasso.fit(X_train_scaled, y_train)

LassoCV(n_alphas=200)

In [15]:
lasso_cv_scores = cross_val_score(lasso, X_train_scaled, y_train, cv = 5)
lasso_cv_scores.mean()

0.9087655204222361

In [16]:
sample_submission = pd.read_csv('datasets/sample_submission_reg.csv')
sample_submission.head()

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217
2   6  181479.1217
3   7  181479.1217
4  17  181479.1217

In [17]:
sample_submission.shape

(879, 2)

In [18]:
housing_test = pd.read_csv('datasets/Test_Cleaned.csv')
housing_test.head()

,Id,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Land Slope,Mas Vnr Area,Bsmt Qual,Bsmt Cond,Bsmt Exposure,...,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
0,2658,190,69.0,9142,3,2,0.0,2,3,1,...,0,0,0,0,0,0,0,0,0,1
1,2718,90,69.6,9662,2,2,0.0,4,3,1,...,0,0,0,0,0,0,0,0,0,1
2,2414,60,58.0,17104,2,2,0.0,4,4,3,...,0,0,0,0,0,0,1,0,0,0
3,1989,30,60.0,8520,3,2,0.0,3,3,1,...,0,0,0,0,0,0,0,0,0,1
4,625,20,69.6,9500,2,2,247.0,4,3,1,...,0,0,0,0,0,0,0,0,0,1

In [19]:
housing_test.set_index('Id', inplace = True)
housing_test.shape

(879, 177)

In [20]:
housing_test.head(1)

,MS SubClass,Lot Frontage,Lot Area,Lot Shape,Land Slope,Mas Vnr Area,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,...,Sale Type_COD,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
Id,,,,,,,,,,,,,,,,,,,,,
2658,190,69.0,9142,3,2,0.0,2,3,1,1,...,0,0,0,0,0,0,0,0,0,1

In [21]:
X_test = housing_test[significant_features]

In [22]:
X_test.head()

,Bedroom AbvGr,Bldg Type_1Fam,Bsmt Exposure,Bsmt Qual,BsmtFin SF 1,Exterior 1st_BrkFace,Exterior 1st_HdBoard,Exterior Qual/Cond,Foundation_PConc,Functional,...,Mas Vnr Area,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_Somerst,Neighborhood_StoneBr,Overall Qual/Cond,Roof Style_Mansard,Sale Type_COD,Sale Type_New,Total Bsmt SF
Id,,,,,,,,,,,,,,,,,,,,,
2658,4,0,1,2,0,0,0,3,0,7,...,0.0,0,0,0,0,14,0,0,0,1020
2718,6,0,1,4,0,0,0,4,0,7,...,0.0,0,0,0,0,9,0,0,0,1967
2414,3,1,3,4,554,0,0,5,1,7,...,0.0,0,0,0,0,12,0,0,1,654
1989,2,1,1,3,0,0,0,5,0,7,...,0.0,0,0,0,0,11,0,0,0,968
625,3,1,1,4,609,0,0,4,0,7,...,247.0,0,0,0,0,11,0,0,0,1394

In [23]:
X_test.shape

(879, 27)

In [24]:
X_test_scaled = ss.fit_transform(X_test)

In [25]:
X_test_scaled.shape

(879, 27)

In [26]:
predictions = ridge.predict(X_test_scaled)

In [27]:
predictions

array([137842.47604239, 156874.17305091, 211504.18461787, 112324.81324956,
       171144.3469649 ,  89141.92307073, 112734.45617103, 166097.83656763,
       192777.36332664, 162505.85753612, 156458.26017571, 125908.50338835,
       149828.79172553, 243748.91639955, 165220.47353793, 117364.42439442,
       143272.72771265, 123009.11099765, 178000.00565706, 198128.26139343,
       153271.4165673 , 126216.42613099, 184934.16057056, 165866.84489725,
       185963.87976373, 125397.13230121, 116925.18023433, 132070.08410975,
       181466.53059663,  49782.59151956, 113452.42508908, 107190.41371888,
       197061.38433782, 165928.22853672, 205614.3247159 , 186379.40680919,
       127325.07607493,  80203.40168538, 118900.35310705, 190248.05250701,
       178993.27538331, 198185.96029393, 155087.66063182, 158439.84606489,
       211862.48351896,  90737.62914814, 218212.78353504, 115233.34313372,
       125529.07852391, 123214.6675832 , 118175.4388855 , 204407.19644499,
       229265.36106665, 135113.28616831, 105520.45099793, 158359.74528762,
       170842.20643748, 133466.82338069, 158957.21587705, 225643.78912328,
       333583.31778498, 141654.85481076, 144553.62101662, 176841.86437041,
       185424.73115046, 295604.70979179,  87793.40542496, 232740.16914022,
        82874.45234572, 160899.14273501,  88836.78912275, 337464.63813574,
       180310.07278197, 164218.6132912 , 148107.01808616, 201786.95110456,
       545603.16987438, 119654.66588931, 141524.74132848,  95460.28401888,
       353995.20781907, 194531.12653019, 127032.18889853, 140992.60074171,
       121414.69454689, 212733.97790614, 334245.69469441, 129323.60023384,
       183651.56348558, 225959.77966864, 145448.60211902, 138831.22336789,
       101900.02380227, 131798.99854914, 229913.39175316, 129735.63222341,
       140571.5405315 , 184497.99420477, 235418.99510748, 195138.28615935,
       217543.31787549, 304619.97944598, 172132.92954027, 111114.74182235,
       446412.21400866, 158621.17878832, 130117.68590013, 172479.16851002,
       211302.97410601, 195122.44753118, 133825.3743642 , 176691.0753751 ,
       228742.31521023, 109732.68547756, 141689.60505452, 237416.21048307,
       446453.75935234, 153394.39181309,  99404.49757493, 290863.72748152,
       192823.17964188, 373725.8534133 , 301339.87792631, 312964.88606033,
       179266.64069984, 147081.93073385, 355508.90466055, 134992.49259222,
       144769.14659861, 116671.5856228 , 252878.86020658, 142663.7122506 ,
       199544.79568209, 132366.16319538, 190681.30473263, 169737.83502326,
       218226.19843879, 223977.40336091, 170061.34880051, 241665.33019339,
       132756.89685704, 191293.9962713 , 134631.90775297, 132302.23015336,
       151968.99074366,  98339.66328101, 132286.66380095, 159626.28812469,
       160662.58878946,  58339.18964382, 242099.28706274, 199403.51004532,
       172353.14997024, 113610.38915286, 119262.02598509, 116187.38090315,
       147110.16927464,  63276.20800726, 154379.16207912, 230188.02097256,
       248795.09168832, 221169.33872231, 124280.93739889, 134521.40352963,
       436314.18709146, 255732.42301227, 235481.27775497, 176598.27893175,
       162142.91331189, 273245.05979115, 197514.30414836, 492237.57615875,
       146934.91129316, 174688.90789205, 159955.5692255 , 197722.77121459,
       190552.09314966,  91960.14662386, 161250.58783041,  80659.7125052 ,
       161081.35704216, 109615.90782151, 189121.33401488, 238783.53018624,
       192699.68073453, 147511.99262206, 125892.22947746, 191998.14820139,
       207560.58580806, 104832.67773537,  51620.80544015, 168818.06777715,
       132324.56900619, 111974.95319126, 101650.40264435, 184322.25452027,
       156865.55677561, 276290.86176642, 148410.59938425, 132970.53031803,
       120230.61712967, 294112.7922806 , 169843.49167811, 147384.14829651,
       190438.61222157, 137140.91813295, 106743.99692067, 127840.85169243,
       154624.16078565, 222501.70596848, 222969.87944037, 193028.34949634,
       190341.09608342, 132705.90261942, 363349.45474168, 254182.8856162 ,
       195475.96106222, 238303.54582238, 162352.23312488, 116954.7740738 ,
       163845.90376141, 182379.70744572, 148924.60046156, 162202.68398128,
       189199.62026832, 116819.92293506, 114830.23113981, 242209.57957538,
       227985.63729986, 160702.82508351, 283877.82921458, 190665.73810095,
        81652.42350746, 118320.64130901,  97935.03561557, 291476.2754109 ,
       166439.7082502 , 100860.84567689, 382521.91496872, 349577.82163057,
       202848.27586043, 249332.67926039, 142379.60705158, 293957.03360315,
       241018.81265707, 300994.11220353, 247251.99184584, 121532.45016794,
       126929.29953965, 180945.89488912, 299531.7246813 , 278134.37024922,
       150275.47753076, 233316.4788441 , 228205.01384692, 197774.31313044,
        94450.18015269,  82101.74051902, 392682.85002804, 218881.17103321,
       234947.58368302, 171948.91947506, 135761.4193577 , 106799.8340836 ,
       143604.39106814, 260581.08601241, 155893.12919778, 157972.37615666,
       199641.0498738 , 174053.65541829, 157384.20209429, 187583.79901742,
       214216.65399497, 158033.54489131, 315940.24771093, 118408.22776996,
       162916.42323567, 152666.57443703, 214415.20133813,  82979.82850743,
       127833.47440571, 229294.51432974, 139225.76582294, 123023.90521386,
        98596.78987371, 133835.58278733, 248020.15204083, 215453.76067565,
        97119.55743331,  75362.65818212, 152526.85458097, 103894.09665778,
       128508.87475739,  53009.92278461, 111630.38291719, 156875.48107875,
       156930.89485761, 207860.77191577, 264471.09866318, 237792.72613042,
       134731.45931189, 191269.6325687 , 313662.57932917, 134892.84570912,
       148513.71982682,  66848.73886454,  94044.03901897, 274548.9301395 ,
       207777.52898635, 158907.8518102 , 129205.72158577, 223358.06914111,
       230133.08432723, 251640.26239193, 266476.45996116, 129487.46496087,
       341778.21087937, 360183.75322354, 275339.03564155, 224967.68126148,
       117636.40229977,  69249.82681531, 128255.34765641, 171589.1533554 ,
       270777.77493982, 135627.92763859, 138856.06371269, 174060.47978933,
       177782.79731449, 212806.76339551, 139441.98559342, 164302.3016816 ,
       189557.27708015, 152056.52578694, 188417.21921351, 100963.37880002,
       149034.91641301, 105847.12744112, 118596.36078927, 132024.21340136,
       152806.17707595, 194798.55812686, 101518.05663425, 135482.85337441,
       192739.86716957, 283179.94179327, 235220.96442627, 169859.73117115,
       103675.48461944, 203247.0731606 , 150836.64453372, 115884.28140125,
       164354.73077672, 119766.42890115, 285950.84212267, 140438.6661596 ,
       235698.00268627, 151105.35096638, 211387.88019585, 236055.85590065,
       122285.71141031, 151215.29571336, 153112.39128531,  50095.34052675,
       144909.20915572, 200357.14595052, 264905.39930707, 204082.79554668,
       222844.23287862, 211795.70630894, 128384.00732141, 195655.65902392,
       109251.23010417, 159717.26466889, 367581.707425  , 122646.2813589 ,
       280748.40279227, 159615.996188  , 260728.95000494, 225905.44733626,
       131400.23024149, 152750.64802352, 123253.53435958, 324601.71474803,
       320749.42021737, 213800.04749679, 193124.73298663, 140941.75198739,
       187327.17184921, 154060.80631053, 132159.12598602,  93149.29642925,
       289188.85249431, 157114.88549463, 142802.49457933, 181990.00786449,
        52595.18598949, 187030.52353951, 200073.46369262, 140407.22914353,
       100753.25808854, 216507.6761698 , 230222.25348782, 112767.80697076,
       283122.23505199, 145149.18218482, 142259.62314366, 143111.29057231,
       222416.32031354, 288742.21465379, 135188.64903383, 127600.96422404,
       156114.44730203, 260608.94521111,  81793.58629812, 258424.35367669,
       317007.74890202, 118773.6603978 , 248531.93039254, 117293.29440021,
       135268.36625501, 231285.36527514, 118655.48478768, 222257.93753706,
       127022.31390577, 214266.56087151, 360882.5683969 , 193929.82485168,
       211888.72696053, 140337.25299295, 260713.67657804, 101288.40747587,
       140983.15974497, 131726.84325903, 190284.16894421, 106208.14376443,
       318502.23084742, 220732.33731353, 163613.8301668 , 156453.03250663,
       119930.38985034, 212548.98277545, 143730.01614332, 120724.33146925,
       171437.02493135, 171785.36441365, 238101.11786936,  19618.32197987,
        98986.6061565 , 298773.41867169, 133521.94985898, 206051.63239293,
       280111.16799773, 240750.42674716, 174554.21930747, 212456.46086575,
       228718.39457604, 221843.87465011, 124455.89768904, 226528.29839808,
       125534.19900335, 145586.45466122, 135182.16452764, 145705.42131655,
       498412.94514928, 123559.82026344, 209199.35374154, 248426.9644852 ,
       231463.74429942, 107698.97936735, 137356.86249456, 159490.20308847,
       238750.9376296 , 173613.6792998 , 107152.86746258, 230918.4010294 ,
       221097.80916971, 124643.18288037, 122334.28643633,  98642.66608874,
       186459.25659127,  61630.1865605 , 219242.58159987, 118913.27044868,
       181210.30791754, 303559.4848436 , 148967.32826887, 160607.3562345 ,
       184298.0127024 , 203550.52357703, 145299.57288985, 139365.97648639,
       220996.93927448, 190796.22660624, 223292.51275689, 339230.85350743,
       174374.72691512, 106384.86659886, 130744.07006883, 158271.82477116,
       119994.54220934, 181384.87257759, 211550.47855109, 196267.60375293,
       157832.02919575, 261882.13361315, 144355.14004947, 256563.47973984,
       101482.99013196, 115624.26178809, 252739.35254086, 122600.23815406,
       121859.38651716, 138244.77425473, 125090.55267992,  50784.8724821 ,
       177015.68544088, 150266.00387223, 203953.31894967, 250015.29781569,
       266688.6976049 , 105293.29589146, 134538.19414041,  94171.80622397,
       131571.37957283, 217529.46843972, 407207.23772267, 175025.71350328,
       100025.87992334, 153635.69650681,  52302.43690936, 114911.27503301,
       195674.47728486, 151310.05384396, 184983.80314649, 194121.80176835,
       149254.40242439,  70210.54419967, 230846.20350172, 151006.28866526,
       163782.49905273, 153308.38821663,  93559.58275784,  79335.19821646,
       148030.2135079 , 232174.75244177, 329222.20173808, 252269.24998711,
       116567.31075261,  88991.12161772, 300875.39857577, 133720.31640248,
       276967.15709458,  79238.22347345, 193573.71329863, 235496.2201267 ,
        94899.92992951, 124937.6622333 , 136132.03295767, 121102.09485833,
       165844.56659044, 109573.58004086, 166650.43998107, 179084.3246185 ,
       167943.34757817, 126991.81386234, 134180.93074366, 142356.90666526,
       226890.74110207, 138803.31895108, 135771.80840041, 162812.27340489,
       134592.33990341, 112303.02517062, 164730.66542534, 188696.39716201,
       129346.46207365, 176374.94489033, 156634.07309029, 177437.29159225,
       114350.84342391, 140053.76390034, 153933.13709022, 283412.89168905,
       105225.57662382, 144227.33139103, 156910.75761242, 158805.29330096,
       124326.99406035, 277921.81679366, 228448.26143645, 135514.01492735,
       136251.00907049, 142596.20343022, 133830.01499634, 309341.50772491,
       218442.52703548, 138351.63966691, 153412.87855866, 109970.40449942,
       347454.80720291, 131385.388457  , 206732.86093262, 132228.73378335,
       181132.42861688, 224298.85702892,  84862.90574904, 123469.04986392,
       119914.84055729, 172212.6767044 , 126682.04864739, 130836.13440981,
       339005.29337422, 226635.05987135, 122609.59273733, 141141.74628275,
         6505.95284332, 204002.98052804, 265623.34901154,  56769.34011685,
       160993.61005403, 207095.18480245,  94404.05541185, 145493.62647424,
       102879.07146854, 139125.80559924, 137551.44082938, 193256.88385763,
       107744.06004497, 352105.2944557 , 163159.8051101 , 175413.25240459,
       186581.02527603, 120334.89254149,  58102.66100771, 150573.02394628,
       204733.80595903, 143320.10049245, 158963.1565942 , 155952.28955357,
       154774.86938771, 298682.67629732, 136453.5430613 , 243071.98525391,
       257082.85477035, 164696.31021002,  65699.05451253, 239358.5001561 ,
       177568.70587182, 143400.29674774, 179657.03373258, 164310.52155192,
       133358.32553106, 109097.46580671, 158340.86078736,  66937.92560678,
       163767.30487682, 198475.76247588, 146638.50444214, 276078.51919157,
       196100.21342475, 159981.74016607, 173344.76975322, 173650.23004312,
       236123.14832784, 385512.9061473 , 238714.0254328 , 212601.5194624 ,
       156467.73939915, 177285.47380718, 281894.60237791, 223325.39724939,
       253681.48724478, 261348.48237881, 142269.09116087, 128108.40259898,
       140597.65798469, 125865.15509501,  88442.95853115, 128838.59826134,
       129114.38071189, 335230.53275216, 198323.13364758, 171732.75926353,
       232796.62063584, 200761.69439064, 159411.59299372, 213754.86338647,
       372346.49514135, 158969.34254048, 186299.97353404,  80895.87461   ,
       132217.76531688, 282665.50296335, 129232.02776268, 220388.63893794,
       177938.06729882, 239208.75483929, 341303.81593506, 115164.2246389 ,
       231468.4337061 , 157294.64689123, 167725.55088658, 147989.01536696,
       131866.27647651, 295851.59286932, 273291.55772475, 153117.85359306,
       151569.10186329, 103380.61622019, 294602.85244704, 230796.54662688,
        98977.08708298, 136533.99423139, 125688.43403995, 139255.11965944,
       199364.30169899, 278303.35557989, 216412.04878415, 190820.59105433,
       198391.41560982, 217789.20463124, 258069.34216882, 160138.30439891,
       119298.09033811, 288806.92990636, 193162.38769975, 186725.87715161,
       144971.36197611, 278440.28405563,  82553.78642072, 242341.53739876,
       189378.40771767, 239834.5664321 , 153154.28656597, 206928.40816419,
       169908.92154266, 155721.31543882, 153175.62328551, 149265.82037735,
       145749.81598811, 223118.753694  , 186453.48036024, 144597.49405136,
       120517.62159828, 193525.57303526, 169449.71829044, 188622.97457203,
       228659.80985474, 140693.10343477, 316416.59058919, 252749.27620134,
       159794.00105143, 132872.47225958, 185165.38437476, 160925.59592046,
       109985.46318366, 422028.54044967,  83773.88267409, 161382.68201168,
       228903.06169433, 150972.45739302, 214686.09267928, 134330.01307271,
       229421.51949227, 166226.05482492, 297301.87754757, 165821.79145092,
       200995.73052347, 278887.97383197, 152599.30397667, 257188.14257402,
       147447.23894343, 123601.22664703, 238746.41151269, 126608.34623404,
       145822.72162124, 231441.42243732, 156568.67902276, 133124.83497611,
       164474.01752133, 191691.79103707, 377073.871936  , 103707.2519073 ,
       150358.13514074, 122278.71379461, 172793.08266299, 247351.89910954,
       117611.10690564, 274015.72682219, 183973.01392986, 194489.10110274,
       238523.11008652, 189599.47296796, 276751.9350846 , 176794.49448668,
       198320.66127348, 154978.10945775, 253679.19746045, 236518.42059444,
       204759.50385691, 147668.45338772, 117723.08419794, 156605.42076052,
        88888.16749585, 241707.37570109, 112395.46659963, 123899.79191409,
       176664.87087445, 135885.48191998, 113826.16417385, 154878.98900373,
       303139.90295983, 151518.28464821, 165115.94988876, 248470.06060219,
       220681.51341693, 210776.51526471,  62182.2736814 , 124732.65631828,
       172799.15558135, 161774.40685392, 109327.01489385, 341578.76075722,
       123332.21458256, 179733.03702734, 211302.37037621, 369376.54885043,
       149276.745509  , 187645.32287779, 148372.54155988, 153127.6047764 ,
       159402.14407804, 271078.25121302, 218386.05416445, 138961.53971541,
       115084.51465402, 326458.11318902, 170031.53135861, 138900.33599875,
       128822.00740006, 194133.10117016, 219065.21353646, 253667.83217416,
       147054.23753531, 176408.26330922, 178076.68641687, 253100.84731606,
       247321.80063267, 104235.52238451, 163530.09511812, 165734.82292115,
       171475.88697431, 134705.70157842, 139851.89718939, 168123.59776881,
       116406.8770248 , 243108.37071989, 118535.01089789, 194616.66298468,
       104536.64553545, 334900.93683709, 138274.26765799, 122592.89053152,
       163513.96432235, 169549.78710072, 195165.03016738, 188385.86943578,
       242550.6595069 , 153180.02378093, 198753.11777897, 248800.29055248,
       320076.36966634, 208239.82034304, 187124.85309117, 220929.04207513,
       118953.31343278, 116380.52763917, 121115.55815337])

In [28]:
X_test['SalePrice'] = predictions

/Users/ahmadzainichia/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
X_test.head()

,Bedroom AbvGr,Bldg Type_1Fam,Bsmt Exposure,Bsmt Qual,BsmtFin SF 1,Exterior 1st_BrkFace,Exterior 1st_HdBoard,Exterior Qual/Cond,Foundation_PConc,Functional,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_Somerst,Neighborhood_StoneBr,Overall Qual/Cond,Roof Style_Mansard,Sale Type_COD,Sale Type_New,Total Bsmt SF,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
2658,4,0,1,2,0,0,0,3,0,7,...,0,0,0,0,14,0,0,0,1020,137842.476042
2718,6,0,1,4,0,0,0,4,0,7,...,0,0,0,0,9,0,0,0,1967,156874.173051
2414,3,1,3,4,554,0,0,5,1,7,...,0,0,0,0,12,0,0,1,654,211504.184618
1989,2,1,1,3,0,0,0,5,0,7,...,0,0,0,0,11,0,0,0,968,112324.813250
625,3,1,1,4,609,0,0,4,0,7,...,0,0,0,0,11,0,0,0,1394,171144.346965

In [30]:
submission = X_test[['SalePrice']]

In [31]:
submission.head()

          SalePrice
Id
2658  137842.476042
2718  156874.173051
2414  211504.184618
1989  112324.813250
625   171144.346965

In [32]:
submission.sort_index(inplace = True)

/Users/ahmadzainichia/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
submission.head()

        SalePrice
Id
2   131866.276477
4   273291.557725
6   192823.179642
7   230133.084327
17  216507.676170

In [34]:
submission.shape

(879, 1)

In [35]:
submission.to_csv('Projected Prices.csv')