In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
housing = pd.read_csv('datasets/train.csv')

housing.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [3]:
housing.shape

(2051, 81)

In [4]:
housing.set_index('Id', inplace = True)

In [5]:
null_features = housing.isnull().sum().sort_values(ascending = False).to_frame(name = 'nullcount')

null_features.head(20)

                nullcount
Pool QC              2042
Misc Feature         1986
Alley                1911
Fence                1651
Fireplace Qu         1000
Lot Frontage          330
Garage Qual           114
Garage Finish         114
Garage Cond           114
Garage Yr Blt         114
Garage Type           113
Bsmt Exposure          58
BsmtFin Type 2         56
Bsmt Cond              55
Bsmt Qual              55
BsmtFin Type 1         55
Mas Vnr Type           22
Mas Vnr Area           22
Bsmt Half Bath          2
Bsmt Full Bath          2

In [6]:
null_drop_cond = (null_features['nullcount'] > 0) & (null_features['nullcount'] < 50)
null_features_todrop = null_features[null_drop_cond]
null_features_todrop

                nullcount
Mas Vnr Type           22
Mas Vnr Area           22
Bsmt Half Bath          2
Bsmt Full Bath          2
Garage Cars             1
Garage Area             1
Total Bsmt SF           1
Bsmt Unf SF             1
BsmtFin SF 2            1
BsmtFin SF 1            1

In [7]:
nulldrop_list = null_features_todrop.index.to_list()
nulldrop_list

['Mas Vnr Type',
 'Mas Vnr Area',
 'Bsmt Half Bath',
 'Bsmt Full Bath',
 'Garage Cars',
 'Garage Area',
 'Total Bsmt SF',
 'Bsmt Unf SF',
 'BsmtFin SF 2',
 'BsmtFin SF 1']

In [8]:
housing.dropna(subset = nulldrop_list)

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,921126030,20,RL,79.0,11449,Pave,NaN,IR1,HLS,AllPub,...,0,0,NaN,NaN,NaN,0,1,2008,WD,298751
785,905377130,30,RL,NaN,12342,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2009,WD,82500
916,909253010,50,RL,57.0,7558,Pave,NaN,Reg,Bnk,AllPub,...,0,0,NaN,NaN,NaN,0,3,2009,WD,177000
639,535179160,20,RL,80.0,10400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2009,WD,144000
10,527162130,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,189000

In [ ]:
1969/2051

In [ ]:
# Since we've only dropped < 5% of the rows, this is acceptable

housing.dropna(subset = nulldrop_list, inplace = True)

In [ ]:
null_features = housing.isnull().sum().sort_values(ascending = False).to_frame(name = 'nullcount')

null_features.head(20)

In [ ]:
null_tofill = null_features['nullcount'] > 0
null_features_tofill = null_features[null_tofill]
null_features_tofill

In [ ]:
null_to_fill = null_features_tofill.index.to_list()
null_to_fill

In [ ]:
garages = housing[['Garage Qual','Garage Finish','Garage Yr Blt', 'Garage Type', 'Garage Cond']]

In [ ]:
garage_null = garages[garages['Garage Yr Blt'].isnull()]

In [ ]:
garage_null.isnull().sum()  #this shows that these houses do not have garages

In [ ]:
housing[['Garage Yr Blt', 'Lot Frontage']].describe()

In [ ]:
sns.pairplot(housing[['Garage Yr Blt', 'SalePrice']])

In [ ]:
for feature in ['Pool QC',
 'Misc Feature',
 'Alley',
 'Fence',
 'Fireplace Qu']:
    
    print(housing[feature].value_counts())
    print('-------------')

In [ ]:
housing['Fireplaces'].describe()

In [ ]:
values_to_fill = {'Pool QC': 'NA',
 'Misc Feature': 'NA',
 'Alley': 'NA',
 'Fence': 'NA',
 'Fireplace Qu': 'NA',
 'Lot Frontage': 68, # median value
 'Garage Cond': 'NA',
 'Garage Finish': 'NA',
 'Garage Yr Blt': housing['Garage Yr Blt'].min(), #since there isn't a garage, we put it to the minimum value
 'Garage Type': 'NA',
 'Garage Qual': 'NA'}

In [ ]:
housing.fillna(value = values_to_fill, inplace = True)

In [ ]:
housing.isnull().sum().sort_values()

## EDA: Continuous Features

In [ ]:
numerical_columns = housing.select_dtypes(include = ['int64', 'float64']).columns.to_list()
numerical_columns

In [ ]:
len(numerical_columns)

In [ ]:
continuous_features = ['Lot Frontage',
 'Lot Area',
 'Mas Vnr Area',
 'BsmtFin SF 1',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF',
 '1st Flr SF',
 '2nd Flr SF',
 'Low Qual Fin SF',
 'Gr Liv Area',
 'Garage Area',
 'Wood Deck SF',
 'Open Porch SF',
 'Enclosed Porch',
 '3Ssn Porch',
 'Screen Porch',
 'Pool Area',
 'Misc Val',
 'SalePrice']

In [ ]:
len(continuous_features)

In [ ]:
def subplot_histograms(dataframe, list_of_columns, binsize = 10):
    
    nrows = int(np.ceil(len(list_of_columns)/2))
    fig, ax = plt.subplots(nrows=nrows, ncols=2, figsize = (10, 5*nrows))
    
    ax = ax.ravel()
    
    for i, column in enumerate(list_of_columns): 
        ax[i].hist(dataframe[column], bins = binsize)
        
        ax[i].axvline(dataframe[column].median(), color='g', linestyle='dashed', linewidth=2)

        ax[i].set_title(str(column), fontsize = 14)
        
    plt.show()

In [ ]:
sns.pairplot(housing[['Lot Frontage', 'Lot Area', 'SalePrice']])

In [ ]:
subplot_histograms(housing, ['Lot Frontage', 'Lot Area'], binsize = 50)

In [ ]:
housing[['Lot Frontage', 'Lot Area']].describe()

In [ ]:
housing[housing['Lot Area'] > 100000]

In [ ]:
housing = housing[housing['Lot Area'] < 100000]
housing.shape

In [ ]:
housing[housing['Lot Frontage'] > 200]

In [ ]:
housing = housing[housing['Lot Frontage'] < 200]
housing.shape

In [ ]:
sns.pairplot(housing[['Lot Frontage', 'Lot Area', 'SalePrice']])

In [ ]:
plt.figure(figsize = (8, 6))
plt.scatter(data = housing, x = 'Mas Vnr Area', y = 'SalePrice')

In [ ]:
plt.figure(figsize = (8, 6))
plt.hist(housing['Mas Vnr Area'], bins = 23)
plt.show

In [ ]:
housing['Mas Vnr Area'].describe()

In [ ]:
sns.pairplot(housing[['BsmtFin SF 1',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF', 'SalePrice']])

In [ ]:
subplot_histograms(housing, ['BsmtFin SF 1',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF'], binsize = 25)

In [ ]:
housing[['BsmtFin SF 1',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF']].describe()  #drop SF2

In [ ]:
housing.drop(columns = ['BsmtFin SF 2'], inplace = True)

In [ ]:
housing.shape

In [ ]:
sns.pairplot(housing[['1st Flr SF',
 '2nd Flr SF',
 'Low Qual Fin SF',
 'Gr Liv Area',
 'SalePrice']])

In [ ]:
subplot_histograms(housing, ['1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
                             'Gr Liv Area'], binsize = 10)

In [ ]:
housing[['1st Flr SF',
 '2nd Flr SF',
 'Low Qual Fin SF',
 'Gr Liv Area']].describe() # drop low qual fin

In [ ]:
housing.drop(columns = ['Low Qual Fin SF'], inplace = True)

In [ ]:
housing.shape

In [ ]:
housing[['Gr Liv Area', 'SalePrice']][housing['Gr Liv Area'] > 3000]

In [ ]:
housing.drop(index = [2181, 2046, 910, 2195], inplace = True)

In [ ]:
housing.shape

In [ ]:
housing[['1st Flr SF', 'SalePrice']][housing['1st Flr SF'] > 3000]
# removing the outliers from Grd Liv Area fixed the outliers for 1st Flr SF as well

In [ ]:
sns.pairplot(housing[['Open Porch SF',
 'Enclosed Porch',
 '3Ssn Porch',
 'Screen Porch', 'SalePrice']])

In [ ]:
subplot_histograms(housing, ['Open Porch SF', 'Enclosed Porch', '3Ssn Porch','Screen Porch'], binsize = 10)

In [ ]:
housing[['Open Porch SF',
 'Enclosed Porch',
 '3Ssn Porch',
 'Screen Porch',]].describe() #drop 3Ssn Porch

In [ ]:
housing['Porch Combined SF'] = housing[['Open Porch SF',
 'Enclosed Porch',
 '3Ssn Porch',
 'Screen Porch']].sum(axis = 1)

In [ ]:
housing[['Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Porch Combined SF']].sample(10)

In [ ]:
plt.scatter(data = housing, x = 'Porch Combined SF', y = 'SalePrice')

In [ ]:
housing.drop(columns = ['Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch'], inplace = True)

In [ ]:
housing.shape

In [ ]:
sns.pairplot(housing[['Garage Area',
 'Pool Area',
 'Misc Val',
 'SalePrice']])

In [ ]:
subplot_histograms(housing, ['Garage Area','Pool Area','Misc Val'], binsize = 20)

In [ ]:
housing[['Garage Area',
 'Pool Area',
 'Misc Val']].describe()   #drop pool area, misc val

In [ ]:
housing[housing['Pool Area'] > 0]

In [ ]:
housing['Pool QC'].value_counts()

In [ ]:
housing[housing['Misc Val'] > 0]

In [ ]:
housing.drop(columns = ['Pool Area', 'Misc Val'], inplace = True)

In [ ]:
housing.shape

## Data Wrangling: Changing Ordinal features to Discrete

In [ ]:
categorical_features = housing.select_dtypes(include = 'object').columns.to_list()
categorical_features

In [ ]:
ordinal_features = ['Lot Shape', 'Utilities', 'Land Slope',
                   'Exter Qual','Exter Cond', 'Bsmt Qual','Bsmt Cond','Bsmt Exposure',
                    'BsmtFin Type 1','BsmtFin Type 2', 'Heating QC', 'Electrical','Kitchen Qual',
                    'Functional', 'Fireplace Qu', 'Garage Finish', 'Garage Qual','Garage Cond',
                    'Paved Drive','Pool QC','Fence']

In [ ]:
len(ordinal_features)  #Overall Qual and Overall Cond data values are already integers

In [ ]:
for feature in ordinal_features:
    
    print(housing[feature].value_counts())
    print('-------------------------')

In [ ]:
0.9 * housing.shape[0]

In [ ]:
housing.drop(columns = ['PID', 'Utilities'], inplace = True)

In [ ]:
housing.shape

In [ ]:
ordinal_features.remove('Utilities')

In [ ]:
len(ordinal_features)

In [ ]:
ordinal_features.sort()

In [ ]:
print(ordinal_features)

In [ ]:
housing.replace(to_replace = {
    'Bsmt Cond': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'Bsmt Exposure': {'Gd': 4, 'Av':3, 'Mn':2, 'No': 1, 'NA': 0},
    'Bsmt Qual': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'BsmtFin Type 1': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
    'BsmtFin Type 2': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
    'Electrical': {'SBrkr': 4, 'FuseA': 3, 'FuseF':2, 'FuseP':1, 'Mix': 0},
    'Exter Cond': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'Po': 0},
    'Exter Qual': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'Po': 0},
    'Fence': {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA': 0},
    'Fireplace Qu': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'Functional': {'Typ': 7, 'Min1': 6, 'Min2': 5, 'Mod': 4, 'Maj1': 3, 'Maj2': 2, 'Sev': 1, 'Sal': 0},
    'Garage Cond': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'Garage Finish': {'Fin':3, 'RFn':2, 'Unf': 1, 'NA': 0},
    'Garage Qual': {'Ex': 5, 'Gd': 4, 'TA':3, 'Fa':2, 'Po': 1, 'NA': 0},
    'Heating QC': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'Po': 0},
    'Kitchen Qual': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'Po': 0},
    'Land Slope': {'Gtl': 2, 'Mod':1, 'Sev': 0},
    'Lot Shape': {'Reg':3, 'IR1':2, 'IR2': 1, 'IR3': 0},
    'Paved Drive': {'Y': 2, 'P':1, 'N': 0},
    'Pool QC': {'Ex': 4, 'Gd': 3, 'TA':2, 'Fa':1, 'NA': 0}
}, inplace = True)

In [ ]:
for feature in ordinal_features:
    
    print(housing[feature].value_counts())
    print('--------------------------')

In [ ]:
int_features = housing.select_dtypes(include = 'int64').columns.to_list()
int_features

In [ ]:
int_features = set(int_features).difference(set(continuous_features))

In [ ]:
int_features

In [ ]:
housing.select_dtypes(include = 'float64').columns

In [ ]:
discrete_features = list(int_features) + ['Garage Cars', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Garage Yr Blt']

In [ ]:
discrete_features.sort()
discrete_features

In [ ]:
discrete_features.remove('MS SubClass') # MS Subclass has data of type int, but is a nominal feature
discrete_features.remove('Porch Combined SF')
len(discrete_features)   

# according to readme, we have 23 ordinal + 14 discrete features = 37. 
# 'Utilities' was removed earlier, making the final total = 36

## EDA: Discrete Features

In [ ]:
discrete_features.sort()
discrete_features

In [ ]:
housing['Year Built'].describe()

In [ ]:
housing['House Age'] = 2020 - housing['Year Built']
housing['House Age'].describe()

In [ ]:
housing['Year Remod/Add'].describe()

In [ ]:
housing['House Remod Yrs'] = 2020 - housing['Year Remod/Add']
housing['House Remod Yrs'].describe()

In [ ]:
housing['House Remod Yrs'].describe()

In [ ]:
housing['Yr Sold'].describe()

In [ ]:
housing.drop(columns = ['Yr Sold', 'Year Remod/Add', 'Year Built'], inplace = True)
housing.shape

In [ ]:
housing['Mo Sold'].describe()

In [ ]:
sns.pairplot(housing[['House Remod Yrs', 'House Age', 'Mo Sold', 'SalePrice']])

In [ ]:
# don't drop anything

In [ ]:
sns.pairplot(housing[['Exter Cond','Exter Qual', 
                      'Overall Cond', 'Overall Qual', 
                      'Functional', 'SalePrice']])

In [ ]:
subplot_histograms(housing, 
                   ['Exter Cond','Exter Qual', 'Overall Cond', 'Overall Qual', 'Functional'],
                   binsize = 20
                  )

In [ ]:
housing[['Exter Cond','Exter Qual', 'Overall Cond', 'Overall Qual']].corr()

In [ ]:
housing['Exterior Qual/Cond'] = housing[['Exter Cond','Exter Qual']].sum(axis = 1)

In [ ]:
housing['Overall Qual/Cond'] = housing[['Overall Cond','Overall Qual']].sum(axis = 1)

In [ ]:
sns.pairplot(housing[['Overall Qual/Cond', 'Exterior Qual/Cond', 'SalePrice']])

In [ ]:
housing.shape

In [ ]:
housing.drop(columns = ['Overall Cond', 'Overall Qual', 'Exter Cond', 'Exter Qual'], inplace = True)  
# remove after feature engineering

In [ ]:
housing.shape

In [ ]:
sns.pairplot(housing[['Bsmt Exposure','Bsmt Qual','Bsmt Cond', 'BsmtFin Type 1', 'BsmtFin Type 2', 'SalePrice']])

In [ ]:
housing[['Bsmt Exposure','Bsmt Qual', 'Bsmt Cond', 'BsmtFin Type 1', 'BsmtFin Type 2']].describe()

In [ ]:
housing.drop(columns = ['BsmtFin Type 2'], inplace = True) #skewed distribution, no clear linear relationship
housing.shape

In [ ]:
sns.pairplot(housing[['Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'SalePrice']])

In [ ]:
# nothing to drop...yet

In [ ]:
subplot_histograms(housing, 
                   ['Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd'],
                   binsize = 10
                  )

In [ ]:
# nothing to drop...yet

In [ ]:
sns.pairplot(housing[['Half Bath', 'Full Bath', 'Bsmt Full Bath', 'Bsmt Half Bath', 'SalePrice']])

In [ ]:
# nothing to drop...yet

In [ ]:
sns.pairplot(housing[['Lot Shape', 'Land Slope', 'Fence', 'Paved Drive', 'Pool QC', 'SalePrice']])

In [ ]:
# nothing to drop...yet

In [ ]:
sns.pairplot(housing[['Fireplaces', 'Fireplace Qu', 'Heating QC', 'SalePrice']])

In [ ]:
# nothing to drop...yet

In [ ]:
housing['Garage Yr Blt'].describe()

In [ ]:
housing['Garage Age'] = 2020 - housing['Garage Yr Blt']
housing['Garage Age'].describe()

In [ ]:
sns.pairplot(housing[['Garage Age','Garage Cars','Garage Finish','Garage Cond', 'Garage Qual','SalePrice']])

In [ ]:
housing[['Garage Age','Garage Cars','Garage Finish','Garage Cond', 'Garage Qual','SalePrice']].corr()

In [ ]:
housing['Garage Qual/Cond'] = housing[['Garage Cond', 'Garage Qual']].sum(axis = 1)

In [ ]:
housing.shape

In [ ]:
housing.drop(columns = ['Garage Cond', 'Garage Qual', 'Garage Yr Blt'], inplace = True)

In [ ]:
housing.shape

In [ ]:
# nothing to drop...yet

## EDA: Nominal

In [ ]:
categorical_features = housing.select_dtypes(include = 'object').columns.to_list()

In [ ]:
nominal_ = set(categorical_features).difference(set(discrete_features))
nominal_

In [ ]:
nominal_features = [
    'Alley',
    'Bldg Type',
    'Central Air',
    'Condition 1',
    'Condition 2',
    'Exterior 1st',
    'Exterior 2nd',
    'Foundation',
    'Garage Type',
    'Heating',
    'House Style',
    'Land Contour',
    'Lot Config',
    'MS Zoning',
    'MS SubClass', #added in
    'Mas Vnr Type',
    'Misc Feature',
    'Neighborhood',
    'Roof Matl',
    'Roof Style',
    'Sale Type',
    'Street'
]

In [ ]:
len(nominal_features)  #PID was dropped earlier

In [ ]:
for feature in nominal_features:
    
    print(housing[feature].value_counts(normalize = True))
    print('------------------------------')

In [ ]:
# drop Condition 2, Misc Feature, Roof Matl, Street (Skewed data)

In [ ]:
housing.shape

In [ ]:
housing.drop(columns = ['Condition 2', 'Misc Feature', 'Roof Matl', 'Street'], inplace = True)

In [ ]:
housing.shape

In [ ]:
nominal_dropped = ['Condition 2', 'Misc Feature', 'Roof Matl', 'Street']

In [ ]:
nominal_filtered = set(nominal_features).difference(set(nominal_dropped))

In [ ]:
nominal_filtered

In [ ]:
housing_dummied = pd.get_dummies(data = housing, columns = nominal_filtered)

In [ ]:
housing_dummied.dtypes.value_counts()

In [ ]:
housing_dummied.shape

In [ ]:
dummy_columns = [col for col in housing_dummied.columns if 'NA' in col]
dummy_columns

In [ ]:
housing_dummied.drop(columns = ['Garage Type_NA', 'Alley_NA'], inplace = True)
housing_dummied.shape

In [ ]:
dummy_columns = [col for col in housing_dummied if 'NA' in col]
dummy_columns

In [ ]:
housing_dummied.to_csv('datasets/Train_cleaned.csv')

In [ ]:
housing_dummied.head()